* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

.navbar {
  background-color: #fff;
  padding: 0.75em 0;
}

.navbar .container.flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  color: #444;
  font-size: 2.5em;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  cursor: pointer;
  z-index: 11;
}

.hamburger {
  display: none;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 11;
}

.hamburger:focus {
  outline: none;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #444;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.hamburger .line:last-child {
  margin-bottom: 0;
}

.show-burger .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.show-burger .line2 {
  opacity: 0;
}

.show-burger .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.nav-item {
  margin-right: 2em;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #444;
  font-size: 1.2rem;
  letter-spacing: -40;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.nav-link:hover, .nav-link:active {
  color: #e1341e;
}

.nav-link:active {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding-right: 1em;
    padding-left: 1em;
  }
  .logo {
    font-size: 2em;
  }
  .hamburger {
    display: block;
  }
  .main-nav.flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #fff;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    padding-top: 5em;
  }
  .main-nav.show-nav {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .nav-item {
    margin-right: 0;
    width: 100%;
    padding: 0.5em 1em;
    border-top: 1px solid #f4f4f4;
    cursor: pointer;
    -webkit-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
  }
  .nav-item:hover, .nav-item:active {
    background-color: #e1341e;
  }
  .nav-item:hover > a,
  .nav-item:active > a {
    color: #f4f4f4;
  }
  .nav-link {
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #f4f4f4;
    color: #444;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1139px) {
  .navbar {
    padding-right: 1em;
    padding-left: 1em;
  }
}

.showcase {
  max-height: 27em;
  min-height: 27em;
  overflow: hidden;
  position: relative;
}

.showcase::before {
  content: "";
  width: 100vw;
  max-height: 27em;
  min-height: 27em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.carousel-container {
  width: 100vw;
  max-height: 27em;
  min-height: 27em;
}

.carousel-slide {
  width: inherit;
  max-height: 27em;
  min-height: 27em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.carousel-slide img {
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-btns {
  position: absolute;
  bottom: 10%;
}

.showcase-content {
  position: absolute;
  top: 12%;
  width: 100%;
  z-index: 2;
}

.showcase-text {
  padding: 0 1em;
  color: #f4f4f4;
}

.showcase-text a.btn {
  font-size: 1.2rem;
  margin-top: 0.7em;
}

.showcase-text .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-heading span {
  color: #1ecbe1;
}

.hero-list {
  margin-top: 1em;
}

.hero-list li {
  margin: 0.25em 0;
  padding: 0.25em 0;
}

.hero-list li span {
  display: inline-block;
  max-width: 30ch;
}

.showcase-card {
  display: none;
}

@media only screen and (min-width: 769px) {
  .showcase-content {
    top: 10%;
  }
  .hero-heading {
    font-size: 2.5rem;
    width: 20ch;
  }
  .hero-list li {
    font-size: 1em;
  }
  .showcase-card {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f4f4f4;
    position: relative;
  }
  .showcase-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
    font-weight: 400;
  }
  .showcase-card .form-group {
    padding: 1em 0;
    margin: 0.25em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .showcase-card input[type="text"],
  .showcase-card input[type="tel"] {
    border: none;
    border-bottom: 1px solid #f4f4f4;
    padding: 0.2em 0;
    background: transparent;
    font-size: 1.2rem;
    color: #f4f4f4;
    font-family: inherit;
  }
  .showcase-card input[type="text"]:focus,
  .showcase-card input[type="tel"]:focus {
    outline: none;
  }
  .showcase-card .btn {
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 0.2em;
    font-family: inherit;
  }
}

.best-offers {
  padding-top: 1em;
}

.best-offers .grid {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.best-offer {
  height: 18em;
  position: relative;
}

.best-offer:first-child {
  background: url("../images/kashmir.jpg") no-repeat center center/cover;
}

.best-offer:nth-child(2) {
  background: url("../images/norway.jpg") no-repeat center center/cover;
}

.best-offer:last-child {
  background: url("../images/leh.jpg") no-repeat center center/cover;
}

.best-offer .flex {
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f4f4f4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.best-offer .flex .offer-head {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.best-offer .flex .offer-price {
  font-family: "Oswald", sans-serif;
  color: #f4f4f4;
}

.best-offer .flex .offer-price span {
  font-weight: 400;
}

@media only screen and (min-width: 769px) {
  .best-offers .grid {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.destinations {
  padding: 1em;
}

.destinations .container > .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.destination-card.flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.5em;
  overflow: hidden;
}

.destination-card.flex .destination-text h4 {
  font-size: 1.25rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  color: #444;
}

@media only screen and (min-width: 769px) {
  .destination-card.flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.5em;
    height: 15em;
    border: 1px solid #e4e4e4;
  }
  .destination-card.flex .destination-img {
    width: 40%;
  }
  .destination-card.flex .destination-text {
    width: 60%;
    padding: 0 2em;
  }
  .destination-card.flex:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
  color: #444;
}

.section-subtitle {
  text-align: center;
  color: #333;
  font-weight: 100;
}

.lead {
  color: #444;
  font-weight: 100;
  padding: 1em 0;
}

.divider {
  max-width: 20%;
  height: 5px;
  background-color: #1ecbe1;
  border-radius: 5px;
  margin: 1em auto 1.5em;
}

@media only screen and (min-width: 769px) {
  .divider {
    max-width: 10%;
  }
}

.btn {
  display: inline-block;
  background: transparent;
  border: none;
  border-radius: 1em;
  outline: none;
  padding: 0.5em 1.25em;
  color: #f4f4f4;
  -webkit-transition: background 0.4s ease;
  transition: background 0.4s ease;
}

.btn-primary {
  background-color: #1ecbe1;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #18a1b4;
}

.btn-secondary {
  background-color: #e1341e;
  color: #f4f4f4;
}

.btn-secondary:hover, .btn-secondary:active {
  background-color: #ca301c;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 22em;
  height: auto;
  padding: 2em;
  -webkit-box-shadow: 0 0 5px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px -10px rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}
